.card-title{
    color: #1071bd;
    font-weight: 700;
}

.cnt-label{
    font-weight: 500;
}

.agree-c{
    color: #03A9F4;
    font-weight: 600;
}

.agree-mdl{
    color: #ec1000;
    font-weight: 600;
}

.thisfieldwselect {
    height: calc(1.5em + .5rem + 9px) !important;
  }