<div class="container">
    <div class="header">
        <div class="mb-4">
            <p class="small mb-0">Pilih produk <span>> Isi data</span></p>
            <h5 class="mb-0 card-title">Data Diri</h5>
            <p class="small">Langkah 2 dari <span>5</span></p>
        </div>
    </div>

    <div class="" *ngIf="!onOtp">
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-center card-title">Yuk isi data diri kamu</h5>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <p class="mb-0 cnt-label">Kamu ingin memberikan asuransi untuk</p>
                    <select name="pemegangPolis" id="" [(ngModel)]="orderPolis.statusCT" class="form-control">
                        <option value="Diri Sendiri">Diri Sendiri</option>
                        <option value="Suami">Suami</option>
                        <option value="Istri">Istri</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-6">
                        <p class="mb-0 cnt-label" *ngIf="orderPolis.statusCT == 'Diri Sendiri'">Nama Sesuai KTP</p>
                        <p class="mb-0 cnt-label" *ngIf="orderPolis.statusCT != 'Diri Sendiri'">Nama Sesuai KTP
                            {{orderPolis.statusCT}}</p>
                        <input type="text" [(ngModel)]="orderPolis.namaCT" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <p class="mb-0 cnt-label" *ngIf="orderPolis.statusCT == 'Diri Sendiri'">Nomor KTP</p>
                        <p class="mb-0 cnt-label" *ngIf="orderPolis.statusCT != 'Diri Sendiri'">Nomor KTP
                            {{orderPolis.statusCT}}</p>
                        <input type="number" [(ngModel)]="orderPolis.nomorKTPCT" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <p class="mb-0 cnt-label" *ngIf="orderPolis.statusCT == 'Diri Sendiri'">Tanggal Lahir</p>
                        <p class="mb-0 cnt-label" *ngIf="orderPolis.statusCT != 'Diri Sendiri'">Tanggal Lahir
                            {{orderPolis.statusCT}}</p>
                        <input [(ngModel)]="orderPolis.dobCT" class="form-control" placeholder="yyyy-mm-dd" name="dpCT"
                            ngbDatepicker #dpCT="ngbDatepicker" (click)="dpCT.toggle()" [minDate]="{year: 1900, month: 1, day: 1}">
                            <!-- [value]="orderPolis.dobCT"> -->
                    </div>
                    <div class="form-group col-md-6">
                        <p class="mb-0 cnt-label">Jenis Kelamin</p>
                        <input type="radio" name="gender" [(ngModel)]="orderPolis.genderCT" value="L"> Laki-laki
                        <input type="radio" name="gender" [(ngModel)]="orderPolis.genderCT" value="P"> Perempuan
                    </div>
                    <div *ngIf="orderPolis.statusCT == 'Diri Sendiri'" class="form-group col-md-6">
                        <p class="mb-0 cnt-label">Nomor Ponsel</p>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <select class="input-group-text" id="inputGroup-sizing-sm" [(ngModel)]="intNumber"
                                    class="form-control">
                                    <option value="+62" selected>+62</option>
                                </select>
                            </div>
                            <input type="number" [(ngModel)]="nomorPemegangPolis" class="form-control thisfieldwselect">
                        </div>
                    </div>
                    <div *ngIf="orderPolis.statusCT == 'Diri Sendiri'" class="form-group col-md-6">
                        <p class="mb-0 cnt-label">Alamat Email Kamu</p>
                        <input type="email" [(ngModel)]="orderPolis.emailPP" class="form-control">
                    </div>
                    <div class="mb-4 form-group col-md-6">
                        <p class="mb-0 cnt-label">Provinsi</p>
                        <select name="provinsi" id="" [(ngModel)]="orderPolis.provinsi" class="form-control">
                            <option value="" *ngFor="let prov of provinsi" [value]="prov.nama">{{prov.nama}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- pemegang polis -->
        <div *ngIf="orderPolis.statusCT != 'Diri Sendiri'" class="row">
            <div class="col-md-12">
                <h5 class="">Informasi Calon Tertanggung</h5>
            </div>
            <div class="form-group col-md-6">
                <p class="mb-0 cnt-label">Nama Kamu Sesuai KTP</p>
                <input type="text" [(ngModel)]="orderPolis.namaPP" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <p class="mb-0 cnt-label">Tanggal Lahir</p>
                <input [(ngModel)]="orderPolis.dobPP" class="form-control" placeholder="yyyy-mm-dd" name="dpPP"
                    ngbDatepicker #dpPP="ngbDatepicker" (click)="dpPP.toggle()" [minDate]="{year: 1900, month: 1, day: 1}">
                    <!-- [value]="orderPolis.dobPP"> -->
            </div>
            <div class="form-group col-md-6">
                <p class="mb-0 cnt-label">Jenis Kelamin</p>
                <input type="radio" name="genderPP" [(ngModel)]="orderPolis.genderPP" value="L"> Laki-laki
                <input type="radio" name="genderPP" [(ngModel)]="orderPolis.genderPP" value="P"> Perempuan
            </div>
            <div *ngIf="orderPolis.statusCT != 'Diri Sendiri'" class="form-group col-md-6">
                <p class="mb-0 cnt-label">Nomor Ponsel</p>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <select class="input-group-text form-control" id="inputGroup-sizing-sm" [(ngModel)]="intNumber">
                            <option value="+62" selected>+62</option>
                        </select>
                    </div>
                    <input type="number" class="form-control thisfieldwselect" [(ngModel)]="nomorPemegangPolis">
                </div>
            </div>
            <div *ngIf="orderPolis.statusCT != 'Diri Sendiri'" class="form-group col-md-6">
                <p class="mb-0 cnt-label">Alamat Email Kamu</p>
                <input type="email" [(ngModel)]="orderPolis.emailPP" class="form-control">
            </div>
            <div class="mb-4 form-group col-md-6">
                <p class="mb-0 cnt-label">Nomor KTP Kamu</p>
                <input type="number" [(ngModel)]="orderPolis.nomorKTPPP" class="form-control">
            </div>
        </div>
        <!-- penerima manfaat -->
        <div class="row">
            <div class="col-md-12">
                <h5 class="">Informasi Penerima Manfaat</h5>
            </div>
            <div class="form-group col-md-6">
                <p class="mb-0 cnt-label">Penerima Manfaat Adalah</p>
                <select name="penerimaManfaat" id="" [(ngModel)]="orderPolis.statusPM" class="form-control">
                    <option value="anak">Anak</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <p class="mb-0 cnt-label">Nama Penerima Manfaat Sesuai KTP atau NIK*</p>
                <input type="text" [(ngModel)]="orderPolis.namaPM" class="form-control">
                <p class="small mb-0">*NIK untuk Anak di bawah 17 tahun</p>
            </div>
            <div class="form-group col-md-6">
                <p class="mb-0 cnt-label">Nomor KTP atau NIK* Penerima Manfaat</p>
                <input type="text" [(ngModel)]="orderPolis.nomorKTPPM" class="form-control">
                <p class="small mb-0">*NIK untuk Anak di bawah 17 tahun</p>
            </div>
            <div class="form-group col-md-6">
                <p class="mb-0 cnt-label">Tanggal Lahir Penerima Manfaat</p>
                <input [(ngModel)]="orderPolis.dobPM" class="form-control mb-4" placeholder="yyyy-mm-dd" name="dp"
                    ngbDatepicker #dp="ngbDatepicker" (click)="dp.toggle()" [minDate]="{year: 1900, month: 1, day: 1}">
                    <!-- [value]="orderPolis.dobPM"> -->
            </div>
            <div class="mb-4 form-group col-md-6">
                <p class="mb-0 cnt-label">Jenis Kelamin Penerima Manfaat</p>
                <input type="radio" name="genderPM" [(ngModel)]="orderPolis.genderPM" value="laki-laki">Laki-laki
                <input type="radio" name="genderPM" [(ngModel)]="orderPolis.genderPM" value="perempuan">Perempuan
            </div>
        </div>
        <div class="bank row">
            <div class="col-md-12">
                <h5>Informasi Rekening Bank</h5>
            </div>
            <div class="form-group col-md-6">
                <p class="mb-0 cnt-label">Nama Bank</p>
                <input type="text" [(ngModel)]="orderPolis.namaBank" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <p class="mb-0 cnt-label">Nomor Rekening</p>
                <input type="text" [(ngModel)]="orderPolis.nomorBank" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <p class="mb-0 cnt-label">Nama Pemilik Rekening</p>
                <input type="text" [(ngModel)]="orderPolis.pemilikBank" class="form-control">
            </div>
        </div>
        <div class="footer">
            <div>
                <input type="checkbox" [(ngModel)]="deklarasikesehatan"> <span class="agree-c"> Saya menyetujui</span>
                <span (click)="openModal(deklarasiKesehatan, 0)" class="agree-mdl"> deklarasi kesehatan</span><br>
                <input type="checkbox" [(ngModel)]="syaratdanketentuan"> <span class="agree-c"> Saya menyetujui</span>
                <span (click)="openModal(syaratDanKetentuan, 1)" class="agree-mdl"> syarat ketentuan yang berlaku</span>
            </div>
            <br>
            <div class="text-center mb-4">
                <button class="btn btn-danger" (click)="submit()">Selanjutnya</button>
            </div>
        </div>
    </div>
    <app-otp *ngIf="onOtp" [(display)]="display" [(resendButton)]="resendButton" (onOtpResult)="onResult($event)" (onResendOtp)="onResend($event)"></app-otp>
</div>

<!-- modal template -->
<ng-template #deklarasiKesehatan let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Deklarasi Kesehatan</h4>
    </div>
    <div class="modal-body">
        {{disclaimer}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Setuju</button>
    </div>
</ng-template>

<ng-template #syaratDanKetentuan let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Syarat dan Ketentuan</h4>
    </div>
    <div class="modal-body">
        {{syarat}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Setuju</button>
    </div>
</ng-template>

<ng-template #validasi let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Peringatan</h4>
    </div>
    <div class="modal-body">
        Silahkan Isi {{nullField}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('')">OK</button>
    </div>
</ng-template>

<ngx-spinner bdColor="rgba(100,100,100,0.6)" size="medium" color="#fff" type="ball-clip-rotate">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>