<div class="container">
    <div class="text-center">
        <p class="card-title text-center" maxlenght="4">Masukkan 4 digit kode OTP untuk verifikasi data diri kamu</p>
        <input type="text" class="form-control input-otp" maxlength="4">
    </div>
    <div class="text-center m-20">
        <button class="btn btn-danger" (click)="verify(true)">Kirim</button>
    </div>
    <div class="text-center">
        <span>Tidak menerima Kode ?</span><br>
        <span class="agree-otp">Kirim ulang kode OTP dalam </span>
        <!-- <b><span *ngIf="!resendButton" id="timer"></span></b> -->
        <b><span *ngIf="resendButton" (click)="resendOtp(true)">Resend OTP</span></b>
        <b><span *ngIf="!resendButton">{{display}}</span></b>
    </div>
</div>