<div class="container mb-4">
    <div class="header">
        <div class="mb-4">
            <p class="small mb-0">Isi Data <span>> Ringkasan</span></p>
            <h5 class="mb-0 card-title">Ringkasan Pembelian</h5>
            <p class="small">Langkah 3 dari <span>5</span></p>
        </div>
    </div>

    <div class="">
        <div class="">
            <div class="">
                <h5 class="text-center card-title">Cek Kembali Pembelian Kamu</h5>
            </div>
            <div class="card">
                <div class="card-body asurance">
                    <span class="">Informasi Produk</span><br>
                    <label>Great Saver Assurance</label>
                    <p>Melalui GoGreat kamu bisa mendapatkan informasi asuransi jiwa yang sesuai dengan kebutuhan Great
                        Estern Life Indnesia</p>
                    <div class="data-asurance">
                        <div class="asurance-item">
                            <p>Premi</p>
                            <span>{{premi | currency:'IDR'}}</span>
                        </div>
                        <div class="asurance-item">
                            <p>Manfaat</p>
                            <span>{{manfaat | currency:'IDR'}}</span>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-danger" (click)="goToProduct()">Ubah</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body check-data">
                    <p class="">Informasi Data Diri</p>
                    <button class="btn btn-danger float-right" (click)="goToDataDiri()">Check</button>
                </div>
            </div>
            <div class="card">
                <div class="card-body must-pay">
                    <span>Pembayaran</span><br>
                    <label>Premi yang harus kamu bayar :</label>
                    <p>{{premi | currency:'IDR'}}</p>
                </div>
            </div>
            <div class="card">
                <div class="row card-body check-data">
                    <div class="form-group col-md-6">
                        <p class="mb-0 cnt-label">Kode Promo (Optional)</p>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <p class="mb-0 cnt-label">Kode Referal (Optional)</p>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <span>Selamat kode promo berhasil digunakan !</span>Kamu akan mendapatkan cashback sebesar
                        <span>Rp. 200.000</span>
                        cashback ini akan ditransfer ke rekening bank yang kamu isi.
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-danger" (click)="goToPembayaran()">Selanjutnya</button>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(100,100,100,0.6)" size="medium" color="#fff" type="ball-clip-rotate">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>