<div class="container">
    <h5>Yuk cek perlindunganmu!</h5>
    <img class="w-100" src="../../../assets/img/1444695733149.jpg">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">{{orderPolis.product}}</h5>
            <p>{{productName}} adalah produk asuransi jiwa dengan fitur dan pengembalian jaminan anti lapsed</p>
            <div class="row datepicker">
                <div class="form-group col-md-12">
                    <label>Tanggal Lahir</label>
                    <input [(ngModel)]="dob" id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp"
                        ngbDatepicker #dp="ngbDatepicker" (click)="dp.toggle()" (ngModelChange)="age=calculateAge(dob)"
                        [minDate]="{year: 1900, month: 1, day: 1}">
                </div>
                <div class="form-group col-md-12">
                    <p for="formControlRange" class="text-center mb-0 card-title">Sesuaikan Produk</p>
                    <p class="xs-text text-center mb-0">Kamu dapat menyesuaikan produk dengan kebutuhanmu</p>
                    <input type="range" class="form-control-range date" min="0" max="{{range}}" step="1" [(ngModel)]="rangeOption"
                        (ngModelChange)="calculateManfaat(rangeOption)" id="sliderPremi">
                </div>
                <div class="form-group col-md-6">
                    <label>Premi</label>
                    <input type="text" class="form-control" [ngModel]="orderPolis.premi | currency:'IDR'"
                    [ngModelOptions]="{updateOn:'blur'}" (ngModelChange)="orderPolis.premi=$event; calculateManfaat(orderPolis.premi)" (focus)="onFocusCurrency($event)">
                    <a class="xs-text">*Premi Tinggi Menyesuaikan Umur</a>
                </div>
                <div class="form-group col-md-6">
                    <label>Manfaat</label>
                    <input type="text" class="form-control" [ngModel]="orderPolis.manfaat | currency:'IDR'"
                        [ngModelOptions]="{updateOn:'blur'}" (ngModelChange)="orderPolis.manfaat=$event">
                    <a class="xs-text" (click)="openModal()">Lihat Illustrasi</a>
                </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-danger" (click)="buyProduct()">Beli</button>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="mb-4">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel title="Manfaat" class="mb-4">
                    <ng-template ngbPanelContent>
                        <div [innerHtml]="manfaatDesc"></div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        <div class="mb-4">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel title="Premi">
                    <ng-template ngbPanelContent>
                        <div [innerHtml]="premiDesc"></div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        <div class="mb-4">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel title="Periode Perlindungan Asuransi">
                    <ng-template ngbPanelContent>
                        <div [innerHtml]="periodeDesc"></div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        <div class="mb-4">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel title="Pengecualian">
                    <ng-template ngbPanelContent>
                        <div [innerHtml]="pengecualianDesc"></div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(100,100,100,0.6)" size="medium" color="#fff" type="ball-clip-rotate">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>