<div class="container">
    <div class="text-center confirmation">
        <label class="text-center">Pembayaran Kamu Berhasil !</label>
        <p>Selamat kamu sudah terlindungi. e-Polis kamu akan kirimkan melalui Email dalam waktu 1x24 jam</p>
    </div>
    <div class="card mb-4">
        <div class="card-body text-center">
            <h5 class="card-title">Apakah kamu senang dengan layanan kami ?</h5>
            <img src="">
            <h5 class="card-title">Kamu boleh memberikan nilai dan komentar loh</h5>
            <textarea class="form-control"></textarea>
            <div class="mt-2 text-center">
                <button class="btn btn-danger" routerLink="/dashboard">Submit</button>
            </div>
        </div>
    </div>
</div>