@media only screen and (min-width: 769px) {
    .img-cntent img{
        width: 40% !important;
    }
    .img-menu img{
        width: 20% !important;
    }
    .brand-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15% !important;
    }
    .bank-icon img{
        width: 65% !important;
    }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
   
}

@media only screen and (max-width: 768px) {
    .img-cntent img{
        width: 60% !important;
    }
    .img-menu img{
        width: 30% !important;
    }
    .brand-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15% !important;
    }
    .bank-icon img{
        width: 65% !important;
    }
}

@media only screen and (max-width: 640px) {
    .img-cntent img{
        width: 80% !important;
    }
    .img-menu img{
        width: 30% !important;
    }
    .brand-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35% !important;
    }
    .payment-logo img{
        width: 80% !important;
    }
    .bank-icon img{
        width: 100% !important;
    }
}

@media only screen and (max-width: 460px) {
	.img-cntent img{
        width: 100% !important;
    }
    .img-menu img{
        width: 30% !important;
    }
    .brand-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30% !important;
    }
    .payment-logo img{
        width: 100% !important;
    }
}

@media only screen and (min-device-width: 1024px) and (orientation:portrait) {

}