<div class="container mt-4">
    <h4 class="mb-4">Asuransi Menjadi Mudah dan Terjangkau</h4>
    <div class="d-flex">
        <button type="button" class="btn btn-light btn-block h-100 mt-0 mr-2" (click)="goToProduct(0)">Great Pro Assurance</button>
        <button type="button" class="btn btn-light btn-block h-100 mt-0 ml-2" (click)="goToProduct(1)">Great Saver Assurance</button>
    </div>
    <hr>
    <pre></pre>
    <div class="my-4">
        <div>
            <h5 class="title-c-dashbard">Dengan GoGreat Asuransi Menjadi Mudah dan Terjangkau</h5>
            <p>
                Melalui GoGreat kamu bisa mendapatkan layanan asuransi jiwa yang sesuai dengan kebutuhanmu dari Great
                Eastern Life Indonesia. Semua layanan kami berorientasi hanya kepada kebutuhanmu.
            </p>
        </div>
        <div>
            <div class="row row-cols-1 justify-content-center">
                <div class="col mb-4 table-responsive">
                    <div class="card card-box">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <b class="card-title">Gambar</b>
                                </div>
                                <div class="col-8">
                                    <b class="sm-text card-title">Pilihan produk yang lengkap</b>
                                    <p class="sm-text card-desc">
                                        Setiap produk memiliki keunikan, kamu tinggal pilih dan membeli produk yang
                                        sesuai kebutuhan dan kapanpun kamu perlukan
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4 table-responsive">
                    <div class="card card-box">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <b class="card-title">Gambar</b>
                                </div>
                                <div class="col-8">
                                    <b class="sm-text card-title">Harga produk yang terjangkau</b>
                                    <p class="sm-text card-desc">
                                        Kami selalu menjadikan nasabah sebagai prioritas dan kami
                                        mengerti mendapatkan...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>