.sm-text {
    font-size: 80%;
}

.card-box{
    box-shadow: 0px 6px 3px 0px #d8d8d8;
    margin: 20px 0px;
    border: none;
}

.title-c-dashbard{
    color: red;
    font-weight: 700;
}

.card-title{
    color: #1071bd;
    font-weight: 700;
}
.card-desc{
    color: #1071bd;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.img-cntent{
    text-align: center;
}

.container{
    position: relative;
}


.banner-header{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/assets/img/banner.jpg);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff87;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 15px;
}

.banner-header img{ 
    width: 100%;
    position: absolute;

}

.banner-content h4{
    color: white;
    padding: 100px 20px 0px;
}

.banner-content{
position: relative;
}

.banner-content .menu{
    padding: 20px 5px;
    margin: 0px;
}
.banner-content .menu .card .card-body h5{
font-size: 15px;
}

.img-menu{
    
}

.img-menu img{
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.menu-style{
    border-radius: 20px;
    padding: 10px;
}