<div class="container-fluid mt-4 no-pad">
    <div class="banner-header">
        <div class="banner-content">
            <h4 class="mb-4">Asuransi Menjadi Mudah dan Terjangkau</h4>
            <div class="row menu">
                <div class="col-6" *ngFor="let product of products">
                    <div class="card img-menu" (click)="goToProduct(product.nama_produk, product.deskripsi)">
                        <img src="../../../assets/img/security.png" class="card-img-top my-2" alt="...">
                        <div class="card-body menu-style">
                            <h5 class="card-title text-center">{{product.nama_produk}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="clearfix"></div>
<div class="container">
    <div class="col-md-12 my-4">
        <div>
            <h5 class="title-c-dashbard">Dengan GoGreat Asuransi Menjadi Mudah dan Terjangkau</h5>
            <p>
                Melalui GoGreat kamu bisa mendapatkan layanan asuransi jiwa yang sesuai dengan kebutuhanmu dari Great
                Eastern Life Indonesia. Semua layanan kami berorientasi hanya kepada kebutuhanmu.
            </p>
        </div>
        <div>
            <div class="row row-cols-1 justify-content-center">
                <div class="col mb-4 table-responsive">
                    <div class="card card-box">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4 img-cntent">
                                    <img src="../../../assets/img/money-vector.png" class="card-img-top" alt="...">
                                </div>
                                <div class="col-8">
                                    <b class="sm-text card-title">Pilihan produk yang lengkap</b>
                                    <p class="sm-text card-desc">
                                        Setiap produk memiliki keunikan, kamu tinggal pilih dan membeli produk yang
                                        sesuai kebutuhan dan kapanpun kamu perlukan
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4 table-responsive">
                    <div class="card card-box">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4 img-cntent">
                                    <img src="../../../assets/img/money-vector.png" class="card-img-top" alt="...">
                                </div>
                                <div class="col-8">
                                    <b class="sm-text card-title">Harga produk yang terjangkau</b>
                                    <p class="sm-text card-desc">
                                        Kami selalu menjadikan nasabah sebagai prioritas dan kami
                                        mengerti mendapatkan...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>